html{
    font-family: "Overpass Mono", "monospace";
    height:90vh;
    font-size: 100%;
    color:red;
}

body{
    width:90%;
    height:100%;
    margin:0 auto;
    background-image:url(ktane-background.jpg);
    position:relative;
}

header{
    width:100%;
    height:20vh;
    position:relative;
    background-color: rgba(255,255,255,0.6);
    margin-bottom:3vh;
}

header img {
    height: 95%;
    width: auto;
    display:block;
    margin:0 auto;
}

ul {
    position:absolute;
    right: 2vw;
    bottom: 2vh;
}

li{
    list-style-type:none;
    display:inline-block;
    position:relative;
    right:0;
    margin: auto 1vw;
}

#stats-container{
    width:20%;
    height:100%;
    display:inline-block;
    margin:0;
    font-weight:bold;
    font-size: 3vh;
    padding-left: 2vw;
}

.reset{
    background-color:black;
    color: red;
    padding: 2vmin;
    margin: 2vmin auto;
    font-size: 3vmin;
    font-family: "Overpass Mono", "monospace";
    border:none;
}

.label {
    margin: 1vh auto;
}

#game-area{
    width:75%;
    height:100%;
    float:right;
}

a:link, a:visited{
    text-decoration:none;
    font-size: 2vh;
    font-weight:bold;
    font-family: "gloria hallelujah", sans-serif;
    color:red;
}

.card{
    width: 14%;
    position: relative;
    height: 26%;
    display: inline-block;
    border: 2px beige solid;
    margin: auto 0.5%;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:white;
}

.card img{
    height: 100%;
    width: 100%;
}

.winner{
    margin: auto;
    width: 25%;
    height: 20%;
    position: fixed;
    background-color:rgba(1,1,1,.6);
    color:red;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:3em;
    text-align:center;
}
.winner button{
    margin: auto;
}

/* ABOUT ME */

.about_background{
    width: 60%;
    position:relative;
    margin: auto;
}

.about_background img{
    width:100%;
    height: auto;
}
.about_content{
    width:45%;
    color:black;
    font-family: "Courier New";
    position: absolute;
    top:25%;
    left:10%;
    font-size: 1vw;
}