html{
    height: 100vh;
    font-family: "Overpass Mono", "monospace";
    color:red;
}

body{
    width:90%;
    height:100%;
    margin:0 auto;
    background-image:url(ktane-background.jpg);
}

header{
    width:100%;
    height:20vh;
    position:relative;
    background-color: rgba(255,255,255,0.6);
    margin-bottom:3vh;
}

header img {
    height: 100%;
    width: auto;
    display:block;
    margin:0 auto;

}

ul {
    position:absolute;
    right: 2vw;
    bottom: 2vh;
}

li{
    list-style-type:none;
    display:inline-block;
    position:relative;
    right:0;
    margin: auto 2vw;
}

#stats-container{
    width:20%;
    height:100%;
    display:inline-block;
    margin:0;
    background-color:rgba(255,255,255,.6);
    font-weight:bold;
    font-size: 3vh;
    padding-left: 2vw;
}

.reset{
    background-color:black;
    color: red;
    padding: 2vh;
    margin-top: 2vh;
    font-size: 3vh;
    border:none;
}

.label {
    margin: 1vh auto;
}

#game-area{
    width:75%;
    height:100%;
    float:right;
}

a:link, a:visited{
    text-decoration:none;
    font-size: 2vh;
    font-weight:bold;
    color:red;
}

.card{
    width: 15%;
    position: relative;
    height: 26%;
    display: inline-block;
    border: 2px beige solid;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:white;
}
.card img{
    height: 100%;
    width: 100%;
}